/* Pagina principal computador*/
body{
	font-size: 16px;
	color: white;
	background-color: #f0f0f0;
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: white;
	border-radius: 0;
	border: 0;
}
#logo-img{
	width: 35%;
	padding: 0% 15% 0% 32%;
	display: inline-block;
}
#parrafo{
	width: 50%;
	margin-left: 25%;
	text-align: center;
	color: black;
}
#cuadro{
	width: 8%;
	clear: both;
	position: absolute;
	margin-left: 10%;	
}
#cuadro2{
	width: 8%;
	clear: both;
	position: absolute;
	margin-left: 25%;
}
#cuadro3{
	width: 15%;
	clear: both;
	position: absolute;
	margin-left: 41%;
}
#cuadro4{
	width: 12%;
	clear: both;
	position: absolute;
	margin-left: 63%;
}
#cuadro5{
	width: 7%;
	clear: both;
	position: absolute;
	margin-left: 82%;	
}
#circulos{
	position: relative;
	margin-left: 15%;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	box-shadow: 5px 5px 5px black;
	display: inline-block;
}
#imagen1{
	width: 100px;
}
#circulos2{
	position: relative;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 25px;
	box-shadow: 5px 5px 5px black;
}
#imagen2{
	width: 100px;
}
#circulos3{
	position: relative;
	width: 100px;
	height: 100px;
	margin-left: 80px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	box-shadow: 5px 5px 5px black;
}
#imagen3{
	width: 120px;
}
#circulos4{
	position: relative;
	margin-left: 57px;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	box-shadow: 5px 5px 5px black;
}
#circulos5{
	position: relative;
	width: 100px;
	height: 100px;
	margin-left: 14px;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	box-shadow: 5px 5px 5px black;
}
#texto{
	color: black;
	font-size: 85%;
	text-align: justify;
}
#footer{
	width: 100%;
	height: 200px;
	background-color:#C0C0C0;
	margin-top: 350px;
}
#informacion{
	text-align: center;
}
#info{
	text-align: center;
	font-size: 120%;
}
#Contact{
	text-align: center;
	color: black;
	text-transform: uppercase;
}
/*Pagina formulario computador*/
form{
	margin: 300px;
	margin-left: 700px;
	margin-right: 700px;
	color: black;
}
#comentarios{
	position: relative;
}
#enviar{
	margin-left: 45%;
}
#footer1{
	width: 100%;
	height: 200px;
	background-color:#C0C0C0;
	margin-top: 100px;
}
#informacion{
	text-align: center;
}
#info{
	text-align: center;
	font-size: 120%;
}
#Contact{
	text-align: center;
	color: black;
	text-transform: uppercase;
}
/*Pagina mapa computador*/
#titulomapa{
	text-align: center;
	color: black;
}
#map{
	width: 50%;
	height: 50%;
	margin-left: 35%;
	margin-top: 250px;
}
#footer1{
	width: 100%;
	height: 200px;
	background-color:#C0C0C0;
	margin-top: 50px;
}
#informacion{
	text-align: center;
}
#info{
	text-align: center;
	font-size: 120%;
}
#Contact{
	text-align: center;
	color: black;
	text-transform: uppercase;
}